<%- include('layouts/app_layout.ejs') %>
    <div class="container-fluid h-100 p-0 m-0">
        <div class="row h-100 justify-content-center no-gutters">
           <div class="col-lg-7 pt-lg-4">
                <form action="/home" method="post">
                    <div class="card">
                    <div class="card-header">
                        <i class="fas fa-plus mr-2"></i>create new post
                    </div>
                    <div class="card-body">
                       <div class="textarea">
                           <img src="/images/default.png" class="avatar" alt="user_avatar">
                           <textarea class="w-100 form-control" rows="3" name="text" placeholder="Please enter the post text" required ></textarea>
                       </div>
                        <hr class="mx-5">
                        <div class="form-group m-5">
                            <div class="input-wrapper">
                                <i class="far fa-file-alt glyphicon"></i>
                                <input type="text" class="form-control" name="title" placeholder="Enter the title" >
                            </div>
                            <div class="input-wrapper mt-3">
                                <i class="fas fa-image glyphicon"></i>
                                <input type="text" class="form-control" name="icon" placeholder="Enter the image link" value="https://picsum.photos/200">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                        <button class="btn btn-sm btn-warning" type="submit"><i class="fas fa-sticky-note mr-2"></i>Publish</button>
                    </div>
                </div>
                </form>
           </div>

           <% if(posts.length > 0) {%>
                <% posts.forEach(element => { %>
                    <div class="col-lg-7 col-sm-10 mt-3 posts no-gutters ">
                      <div class="post shadow-sm">
                          <a class="close-action2 badge badge-primary" href="/post/<%= element.todo_id%>"><i class="fas fa-eye mr-1"></i> Details</a>
                          <div class="author badge badge-secondary"><i class="far fa-user mr-1"></i> posted by : <%= element.user.name%></div>
                        <div class="row no-gutters ">
                            <div class="col-md-2">
                                <div class="avatar">
                                   <img src="<%= element.todo_icon%>" alt="post_avatar">
                               </div>
                            </div>
                            <div class="col">
                                <div class="title"> <%= element.todo_title%> </div>
                                <div class="text"> <%= element.todo_text%> </div>
                                <div class="time badge badge-danger"> <%= new Date(element.createdAt).toLocaleString()%> </div>
                            </div>
                        </div>
                    </div>
                </div>
               <% });%>
            <%}%>
       </div>
    </div>
</body>
</html>
