<%- include('layouts/app_layout.ejs') %>
<div class="container-fluid h-100 p-0 m-0">
    <div class="row h-100 justify-content-center no-gutters">
        <div class="col-lg-7 pt-lg-4">
            <form action="/users" method="post">
                <div class="card">
                    <div class="card-header">
                        <i class="fas fa-plus mr-2"></i>create new user
                    </div>
                    <div class="card-body">
                        <div class="form-group m-5">
                            <div class="input-wrapper">
                                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                <i class="fas fa-user glyphicon"></i>
                                <input type="text" class="form-control" name="name" placeholder="Enter the user name" >
                            </div>
                            <div class="input-wrapper mt-3">
                                <i class="fas fa-envelope-square glyphicon"></i>
                                <input type="text" class="form-control" name="email" placeholder="Enter the user email">
                            </div>
                            <div class="input-wrapper mt-3">
                                <i class="fas fa-lock glyphicon"></i>
                                <input type="text" class="form-control " name="password" placeholder="Enter your password">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                        <button class="btn btn-sm btn-warning" type="submit"><i class="fas fa-plus-circle mr-2"></i>Add user</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-9">
            <table class="table table-light table-striped">
                <thead>
                   <tr>
                       <th>Name</th>
                       <th>Email</th>
                       <th>Created At</th>
                       <th>Actions</th>
                   </tr>
                </thead>
                <tbody>
                    <% Users.forEach(user =>{%>
                        <tr>
                            <td><%= user.name%></td>
                            <td><%= user.email%></td>
                            <td><%= new Date(user.createdAt).toLocaleString()%></td>
                            <td>
                                <a class="close-action badge badge-danger" href="/users/delete/<%= user.id%>"><i class="fas fa-trash-alt"></i> delete user</a>
                            </td>
                        </tr>
                    <%});%>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
